In [11]:
text = "Full Stack"

print(text[5])
print("hello")

S
hello

In [15]:
text = "tyou can learn almost everythingz"
print(text.strip("tz").title())

You Can Learn Almost Everything

In [19]:
text = "In God wee Trust"
print(text[0:9] + text[10:])

In God we Trust

In [22]:
list = [1, 2, 3]
list.append(4)
list.insert(1, 2)
print(list)

[1, 2, 2, 3, 4]

In [26]:
mix_list = [1, [1, "one", 2, "two", 3, "three"], 4]
print(mix_list[1][1], mix_list[1][3], mix_list[1][5])
print(mix_list[1][1::2])

one two three
['one', 'two', 'three']

In [3]:
person = {"first_name": "John", "last_name": "Doe", "age": 29}
print(person["age"])

29

In [2]:
list1 = [1, 2, 3]
list2 = list1
list2[0] = 55
print(list1, list2)

[55, 2, 3] [55, 2, 3]

In [9]:
usa = set("washington")
nz = set("wellington")
print(usa - nz, usa | nz, usa & nz)

{'h', 'a', 's'} {'w', 'e', 'a', 'l', 'g', 'o', 's', 'i', 'n', 'h', 't'} {'w', 'g', 'o', 'i', 'n', 't'}

In [13]:
lst1 = set([11, 22, 55, 77, 66, 99, 33])
lst2 = set([1, 2, 3, 4, 5, 11, 55, 33])
lst3 = set([10, 20, 30, 55, 60, 80])

print(lst1 & lst2 & lst3)

{55}

In [32]:
person1 = {'first_name': 'John', 'last_name': 'Doe', 'age': 29, 'location': 'Boston', 'job': 'teacher'}
person2 = {'first_name': 'Jane', 'last_name': 'Doe', 'age': 29, 'location': 'New York', 'job': 'teacher'}
person3 = {'first_name': 'Alice', 'last_name': 'Doe', 'age': 29, 'location': 'Boston', 'job': 'teacher'}
person4 = {'first_name': 'Jim', 'last_name': 'Doe', 'age': 29, 'location': 'Boston', 'job': 'teacher'}

locations = person1["location"], person2["location"], person3["location"], person4["location"]
print(set(locations))

people = [person1, person2, person3, person4]
loc = []
for item in people:
    print(item["location"])

    loc.append(item["location"])
    
loc = tuple(set(loc))
print(loc)

{'New York', 'Boston'}
Boston
New York
Boston
Boston
('New York', 'Boston')

In [34]:
def parrot_trouble(talking, hour):
    if (hour < 6 or hour > 21) & talking :
        return True
    else:
        return False

parrot_trouble(True, 8)

False

In [4]:
def not_string(word):
    if word[0:3] == "not":
        return word
    else:
        return "not " + word
    
print(not_string('not bad'))

bad

In [ ]:
def missing_char(word, n):
    return word[0:n] + word[n+1:]